header {
    text-align: center;
}

main {
    display: flex;
}

#current-uv {
    display: inline-block;
    color: white;
}

#daily-forecast {
    display: flex;
    padding: 0;
    list-style: none;
}