header {
    text-align: center;
}

main {
    display: flex;
}

#current-uvi {
    display: inline-block;
    color: white;
}

#forecast-list {
    display: flex;
    padding: 0;
    list-style: none;
}